@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  outline: 1px solid red;
}

.col {
  min-height: 100px;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #adafb3;
  font-size: 14px;
  background: white;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #636363;
}

@media screen and (max-width: 575.98px) {
  body {
    color: white;
  }
}

@media screen and (max-width: 767.98px) {
  body {
    color: white;
  }
}

@media screen and (max-width: 991.98px) {
  body {
    color: white;
  }
}

@media screen and (max-width: 1199.98px) {
  body {
    color: white;
  }
}
