@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "Nether";
  src: url("../fonts/nether/nether.ttf") format("truetype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0px solid red;
}

.col {
  min-height: 100px;
}

body {
  font-family: 'roboto', sans-serif;
  color: #636363;
  font-size: 14px;
  background-color: #ffffff;
  padding-top: 15px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #636363;
  display: block;
  cursor: pointer;
}

.top-nav {
  padding: 15px 0 45px 0;
}

.top-nav .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-nav_logo {
  float: left;
}

.top-nav_menu {
  float: left;
  margin: 25px;
}

.top-nav_menu li {
  margin-left: 45px;
  display: inline-block;
}

.top-nav_menu li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
}

.top-nav_menu li a:hover {
  color: #636363;
}

.top-nav_lang {
  position: relative;
  float: right;
  color: #636363;
  padding-right: 15px;
  margin: 25px 20px 0;
  text-transform: uppercase;
  font-size: 1em;
}

.top-nav_lang::after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  right: 4px;
  bottom: 6px;
  background: transparent;
  border-top: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid #636363;
  border-left: 1px solid #636363;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.top-nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

.top-nav_right a {
  padding: 0 10px;
}

.wrapper .block {
  padding-bottom: 140px;
}

.wrapper .block .baner-1 {
  position: relative;
  width: 350px;
  height: 470px;
  background-image: url(/img/poster-1.png);
}

.wrapper .block .baner-1 p {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  margin: 45px 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .block .baner-1::after {
  content: "";
  position: absolute;
  left: 10px;
  top: -35px;
  background-image: url(/img/new.png);
  width: 70px;
  height: 70px;
}

.wrapper .block .baner-1 .button {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  background: #4972e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 4px black;
          box-shadow: 0 0 4px black;
  cursor: pointer;
  position: absolute;
  left: 90px;
  bottom: 20px;
}

.wrapper .block .baner-1 .button p {
  font-size: 16px;
}

.wrapper .block .tagline {
  margin-top: 60px;
  right: 20px;
}

.wrapper .block .tagline h1 {
  font-family: "Nether";
  font-size: 64px;
  text-align: right;
}

.wrapper .block .baner-2 {
  position: relative;
  width: 350px;
  height: 470px;
  background-image: url(/img/poster-2.png);
}

.wrapper .block .baner-2 p {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  margin: 0 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  right: 80px;
  bottom: 200px;
}

.wrapper .block .baner-2::after {
  content: "";
  position: absolute;
  right: 10px;
  top: -35px;
  background-image: url(/img/sale.png);
  width: 64px;
  height: 64px;
}

.wrapper .block .baner-2 .button {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  background: #4972e7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 4px black;
          box-shadow: 0 0 4px black;
  cursor: pointer;
  position: absolute;
  left: 90px;
  bottom: 20px;
}

.wrapper .block .baner-2 .button p {
  font-size: 16px;
  position: relative;
  right: 0;
  bottom: 0;
}

.wrapper .block-2 .row div::last-child p::nth-child(1) {
  font-size: 24px;
  text-transform: uppercase;
}
