@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;500;700;900&display=swap");
@font-face {
  font-family: "Nether";
  src: url("../fonts/nether/nether.ttf") format("truetype");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: 0px solid red;
}

.col {
  min-height: 100px;
}

body {
  font-family: 'roboto', sans-serif;
  color: #636363;
  font-size: 14px;
  background-color: #ffffff;
  padding-top: 29px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #636363;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
}

a:hover {
  text-decoration: none;
  color: #636363;
}

a:focus, button:focus {
  border: 0;
  outline: 0;
}

.button {
  width: 200px;
  height: 40px;
  border-radius: 100px;
  background: #de2a6c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 6px 12px 0 #bbbaba;
          box-shadow: 0 6px 12px 0 #bbbaba;
  cursor: pointer;
  position: absolute;
  left: 90px;
  bottom: 20px;
}

.button p {
  font-size: 16px;
  position: relative;
  right: 0;
  color: white;
}

.top-nav {
  padding: 0 0 45px;
}

.top-nav_menu {
  margin-top: 28px;
}

.top-nav_menu li {
  margin-left: 47px;
  display: inline-block;
}

.top-nav_lang {
  position: relative;
  float: right;
  color: #636363;
  padding-right: 20px;
  margin: 24px 15px 0;
  text-transform: uppercase;
  font-size: 1em;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.top-nav_right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px auto;
}

.top-nav_right a {
  padding: 0 10px;
}

.top-nav_right button.collapsed {
  background: url(/img/burger.png) no-repeat;
}

.top-nav_right button {
  z-index: 100;
  margin-left: 1em;
  background: url(/img/burger-close.png) no-repeat;
  width: 31px;
  height: 23px;
  border-radius: 0;
}

.top-nav .navbar-collapse {
  z-index: 50;
  -webkit-transition: all 0s ease;
  transition: all 0s ease;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}

.top-nav .navbar-collapse_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.top-nav .navbar-collapse_content ul {
  padding: 150px 0 80px;
}

.top-nav .navbar-collapse_content ul li {
  padding-bottom: 37px;
}

.top-nav .navbar-collapse_content p {
  text-transform: uppercase;
  font-size: 14px;
  padding-bottom: 28px;
}

.top-nav .navbar-collapse_content .social-top {
  padding-bottom: 35px;
}

.wrapper .block {
  padding-bottom: 140px;
}

.wrapper .block .baner-1 {
  position: relative;
  width: 350px;
  height: 470px;
  background-image: url(/img/poster-1.png);
  background-size: cover;
}

.wrapper .block .baner-1 p {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  margin: 45px 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .block .baner-1::after {
  content: "";
  position: absolute;
  left: 10px;
  top: -35px;
  background-image: url(/img/new.png);
  width: 70px;
  height: 70px;
}

.wrapper .block .baner-1 .button {
  background: #4972e7;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

.wrapper .block .baner-1 .button p {
  font-size: 16px;
}

.wrapper .block .tagline {
  margin-top: 60px;
  right: 20px;
}

.wrapper .block .tagline h1 {
  font-family: "Nether";
  font-size: 64px;
  text-align: right;
}

.wrapper .block .baner-2 {
  position: relative;
  width: 350px;
  height: 470px;
  background-image: url(/img/poster-2.png);
  background-size: cover;
}

.wrapper .block .baner-2 p {
  font-family: 'roboto', sans-serif;
  font-size: 24px;
  margin: 0 0;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  right: 80px;
  bottom: 200px;
}

.wrapper .block .baner-2::after {
  content: "";
  position: absolute;
  right: 10px;
  top: -35px;
  background-image: url(/img/sale.png);
  width: 64px;
  height: 64px;
}

.wrapper .block .baner-2 .button {
  background: #4972e7;
  -webkit-box-shadow: 0 0 0 0 transparent;
          box-shadow: 0 0 0 0 transparent;
}

.wrapper .block .baner-2 .button p {
  font-size: 16px;
  position: relative;
  right: 0;
  bottom: 0;
}

.wrapper .block-2 {
  padding-bottom: 130px;
}

.wrapper .block-2 .row div:last-child {
  color: #adafb3;
}

.wrapper .block-2 .row div:last-child p:nth-child(1) {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 55px;
}

.wrapper .block-2 .row div:last-child p:nth-child(2) {
  line-height: 180%;
  padding-bottom: 65px;
}

.wrapper .block-2 .row div:last-child .button {
  background: #de2a6c;
}

.wrapper .block-2 .row div:last-child .button p {
  font-size: 16px;
  bottom: -27px;
}

.wrapper .block-3 {
  padding-bottom: 130px;
}

.wrapper .block-3 .row div img {
  padding-bottom: 10px;
}

.wrapper .block-3 .row div .favorites {
  background-image: url(/img/favorites.png);
  width: 22px;
  height: 24px;
  margin-right: 32px;
}

.wrapper .block-3 .row div:first-child::after {
  content: "";
  position: absolute;
  left: 30px;
  top: -35px;
  background-image: url(/img/top.png);
  width: 63px;
  height: 63px;
}

.wrapper .block-3 .row div:first-child p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.wrapper .block-3 .row .tagline p {
  font-family: "Nether";
  font-size: 54px;
  text-align: center;
}

.wrapper .block-3 .row .tagline .button {
  margin-left: 80px;
}

.wrapper .block-3 .row .tagline .button p {
  font-family: 'roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
}

.wrapper .block-3 .row div:last-child p {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 5px;
}

.wrapper .form {
  padding-bottom: 165px;
}

.wrapper .form .col-6:last-child p {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 40px;
  color: #adafb3;
}

.wrapper .form .col-6:last-child form input {
  display: block;
  margin-bottom: 20px;
  width: 230px;
  height: 40px;
  border-radius: 100px;
  border: 1px solid #adafb3;
  padding: 15px;
}

.wrapper .form .col-6:last-child form input:last-child {
  font-family: "roboto", sans-serif;
  border: 0;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  margin-top: 40px;
  left: 0;
  bottom: 0;
  background: #de2a6c;
  width: 190px;
  -webkit-box-shadow: 0 6px 12px 0 #bbbaba;
          box-shadow: 0 6px 12px 0 #bbbaba;
}

footer {
  text-align: center;
}

footer .tagline-end p {
  font-family: "Nether";
  font-size: 54px;
  text-align: center;
  color: #636363;
}

footer .privacy {
  text-transform: uppercase;
  padding-bottom: 60px;
}

footer .privacy .col-4:first-child {
  text-align: start;
}

footer .privacy a {
  display: block;
  padding-bottom: 19px;
}

footer .privacy .currency select {
  margin-top: 20px;
  border: 1px solid #adafb3;
  border-radius: 100px;
  width: 150px;
}

footer .privacy .currency select option .float-left {
  display: inline-block;
  padding-left: 35px;
}

footer .social {
  text-transform: uppercase;
  color: #adafb3;
  font-weight: 500;
  padding-bottom: 25px;
}

footer .social .col-4:first-child {
  text-align: start;
}

footer .social .col-4:nth-child(2) a {
  padding: 0 2px;
}

footer .social .col-4:last-chilf {
  text-align: start;
}

@media screen and (max-width: 991.98px) {
  .wrapper .block .tagline h1 {
    font-size: 35px;
  }
}
